/******************************************************************************
 * Config/Variables
*******************************************************************************/
/******************************************************************************
 * Spacing
*******************************************************************************/
@inset: 7vw;
@insetTwo: 14vw;

/******************************************************************************
 * Sizes
*******************************************************************************/
@headerHeight: 75px;
@headerHeightSm: 100px;
@footerHeight: @headerHeight * 2 + (@baseline * 2);
@footerHeightSm: @headerHeight + (@baselineTwo * 2);
@logoWidth: 180px;
@logoWidthSm: 240px;
@maxContentWidth: 1000px;

@baseFontSize: 14px;
@baseline: 20px;
@baselineTwo: @baseline * 2;

/******************************************************************************
 * Layering
*******************************************************************************/
@zLayer10: 100;
@zLayer09: 90;
@zLayer08: 80;
@zLayer07: 70;
@zLayer06: 60;
@zLayer05: 50;
@zLayer04: 40;
@zLayer03: 30;
@zLayer02: 20;
@zLayer01: 10;
@zLayerBehind: -1;
@zLayerInfront: 1000;

/******************************************************************************
 * Animations
*******************************************************************************/
@ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
@easeOne: cubic-bezier( 0.9, 0, 0.1, 1 );
@easeTwo: cubic-bezier( 0.14, 1, 0.34, 1 );
@easeThree: cubic-bezier( 0, 0, 0.2, 1 );
@baseDuration: 200ms;
@baseDurationTwo: 400ms;