/******************************************************************************
 * Document
*******************************************************************************/
html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
}

/******************************************************************************
 * Box Sizing
*******************************************************************************
 * Border box size everything that's not a sqaurespace element
*******************************************************************************/
*:not([class*="sqs"]) {
  box-sizing: border-box;
}

