/******************************************************************************
 * Core/Icons
*******************************************************************************/
.icon {
  display: inline-block;
  line-height: 1;
  position: relative;
  text-align: center;
  vertical-align: middle;

  // Bolts & Feathers Logo & Bolt Icon
  &&--logo,
  &&--spinner {
    width: 100%;
  }

  // Menu Icon
  &&--menu {
    width: 100%;
    height: 100%;
    position: relative;

    > span {
      display: block;
      top: 50%;
      position: absolute;
      left: 50%;      
      display: block;
      height: 4px;
      background: @black;
      transform: ~'translate3d(-50%, -50%, 0)';      
      transition: ~'all @{baseDuration} @{ease}';

      &:nth-child(1),
      &:nth-child(3),{
        width: 25%;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 100%;
        opacity: 0;
      }

      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5) {
        width: 75%;        
      }
  
      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }
  
      &:nth-child(3),
      &:nth-child(4) {
        top: 85%;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        transform: ~'translate3d(-50%, 0, 0)';        
      }
    }

  }
}

// Wrapper around Logo Icon
a.logo {
  display: inline-block;
  width: @logoWidth;
  vertical-align: middle;

  // makes this 'hug' the svg
  font-size: 0;

  @media @small {
    width: @logoWidthSm;
  }

  // Set svg logo fill color
  .bfLogoPath {
    fill: @black;
  }
}

// Wrapper around menu icon
.menu-trigger {
  display: inline-block;
  width: 75px;
  height: 60px;
  padding: 15px;
  cursor: pointer;

  margin-right: -15px;
}