/******************************************************************************
 * Core/Typography
*******************************************************************************/
body {
  .font-sans-serif;
  font-size: @baseFontSize;
  line-height: @baseline;
  letter-spacing: .08em;;
}

h1, .h1 {
  text-transform: uppercase;
  .font-sans-serif-bold;
  line-height: 1.2em;
  letter-spacing: .2em;  
  .scale-font(@baseFontSize * 2.2, @baseFontSize * 3, @maxContentWidth);
  word-wrap: break-word;
  hyphens: auto;
}

h2, .h2 {
  .font-sans-serif-bold;
  line-height: 1.25em;
  letter-spacing: .08em;
  .scale-font(@baseFontSize * 1.8, @baseFontSize * 2.5, @maxContentWidth);
}

h3, .h3 {
  .font-sans-serif;
  text-transform: uppercase;
  line-height: 1.45em;
  letter-spacing: .2em;
  .scale-font(@baseFontSize * 1.25, @baseFontSize * 1.8, @maxContentWidth);  
}

h4, .h4 {}
h5, .h5 {}
h6, .h6 {}

p, .p {
  .font-sans-serif;
  font-size: @baseFontSize;
  line-height: @baseline;
}

blockquote, .blockquote {
  font-style: italic;
  line-height: 1.2em;
  .scale-font(@baseFontSize * 1.4, @baseFontSize * 1.8, @maxContentWidth);
}

ul, .ul {}

ol, .ol {}

li, .li {}

strong, .strong {
  .font-sans-serif-bold;
}

em, .em {
  font-style: italic;
}

code, .code {}

pre, .pre {}

.page-title {
  .h3;
  .scale-font(@baseFontSize, @baseFontSize * 1.1, @maxContentWidth);
  white-space: nowrap;
}

.page-desc {
  p {
    .h1;
  }
}

// Links inside paragraphs
p a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: @black;
  padding: 0 1px;
  transition: color ease-in-out 0.3s;
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 20%;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.18s;
    .gradient(linear;~'@{green}, @{blue}';90deg);
  }
}