/******************************************************************************
 * Core/Utility
*******************************************************************************/
.-wrapper {
  padding-left: @inset;
  padding-right: @inset;
}

.-space {
  padding: @baseline;
  @media @small {
    padding: @baselineTwo;
  }

  &-t {
    padding-top: @baseline;
    @media @small {
      padding-top: @baselineTwo;
    }
  }

  &-r {
    padding-right: @baseline;
    @media @small {
      padding-right: @baselineTwo;
    }
  }

  &-b {
    padding-bottom: @baseline;
    @media @small {
      padding-bottom: @baselineTwo;
    }
  }

  &-l {
    padding-left: @baseline;
    @media @small {
      padding-left: @baselineTwo;
    }
  }
}

// Use this heirarchy to center elements inside fluid containers with unknown widths
.-ghost {
  font-size: 0;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
  }

  &--child {
    display: inline-block;
    vertical-align: middle;
  }
}

// Text align property
.-text {
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

// Copy wrapper
.-wrap-copy {
  display: block;
  width: 100%;
  margin: 0 auto;
  .contain-content;
}

// Loaded Images. Style the scan in effect
img {
  transition: ~'opacity @{baseDuration} @{ease}';

  &[data-preload] {
    opacity: 0;
  }

  &[data-loaded] {
    opacity: 1;
  }
}