/******************************************************************************
 * Modules/Header
*******************************************************************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: @zLayer09;
  background: fade(@white, 100%);
  // height: @headerHeight;
  height: auto;
  transition: ~'transform @{baseDuration} @{ease}';  

  // @media @small {
    // height: @headerHeightSm;
  // }

  &--inner {
    height: 100%;
    display: flex;    
    flex-flow: row nowrap;
    align-items: center;
    padding: @baseline / 2 0;

    > *:nth-child(1) {
      margin-right: auto;
    }
  }

  &--title {
    position: relative;
    height: 100%;
    opacity: 1;
    transform: ~'translate3d(0, 0, 0)';
    transition: ~'opacity @{baseDuration} @{ease},'
                ~'transform @{baseDuration} @{ease},'
                ~'visibility @{baseDuration} @{ease}';
    visibility: visible;
    transition-delay: @baseDuration;

    @media @small {
      margin-right: 10vw;
    }

    > span {
      position: absolute;
      display: block;
      right: 0;
      // bottom: -1em;
      top: 100%;
    
      > span {
        display: inline-block;
        background: @black;
        color: @white;
        padding: @baseline /4 @baseline /2;
      }
    }
  }
}
