.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: @header;
  background: fade(@white, 100%);
  height: @headerHeight;

  @media @small {
    height: @headerHeightSm;
  }

  &--inner {
    height: 100%;
    display: flex;    
    flex-flow: row nowrap;
    align-items: center;

    > *:last-child {
      margin-left: auto;
    }
  }
}