/******************************************************************************
 * State/States
*******************************************************************************/
// When a menu is open. (ie. Navigation or Modal)
.is-menu-open {

  // Menu Icon
  .icon--menu {
    > span {
      opacity: 0;
    }
    &:before,
    &:after {
      width: 75%;
      top: 50%;      
    }
    &:before {
      top: 50%;
      transform: ~'translate3d(-50%, -50%, 0)rotate(45deg)';
    }
    &:after {
      bottom: unset;
      transform: ~'translate3d(-50%, -50%, 0)rotate(-45deg)';
    }
  }

  // Page Title In Header
  .header--title {
    opacity: 0;
    transform: ~'translate3d(0, @{baselineTwo}, 0)';
    visibility: hidden;
  }
}
