/******************************************************************************
 * SQS/Squarespace Block Spacing
*******************************************************************************/

// Block Resets
.sqs-layout>.sqs-row {
  margin: 0 !important;
}

// Block layouts
.sqs-block {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media @small {
    padding-left: @baseline !important;
    padding-right: @baseline !important;
  }

  &:first-child {
    padding-top: @baseline !important;
  }
  &:last-child {
    padding-bottom: @baseline !important;
  }
  &+& {
    padding-top: @baseline !important;
  }
}

// Individual block styles
.sqs-block {
  // adds margin above elements that are adjacent to like elements
  .type-spacing;

  // Block specific
  // Quote Block
  &.sqs-block-quote {
    .sqs-block-content {
      padding: @baseline;
      .gradient(linear; @green 0%, mix(@green, @blue) 50%, @blue 100%; 90deg);
    }
    .source {
      margin: 0 @baseline 0 0;
      text-align: right;
    }
    figure {
      margin: @baseline;
    }
  }

  // Text Block
  &.sqs-block-html {
    .sqs-block-content {
      // Blockquotes
      blockquote {
        padding-left: @baseline;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 5px;
          .gradient(linear; @green 0%, mix(@green, @blue) 50%, @blue 100%; 90deg);
          
        }
      }
      // Ordered Lists
      ol {
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: @baseline;
      }
      // Unordered Lists
      ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: @baseline;
      }
    }
  }

  // Image block
  &.sqs-block-image {
    .image-block-wrapper {
      background-color: @gray;  
    }
  }

  // Button block
  &.sqs-block-button {
    .sqs-block-button-element,
    .sqs-block-button-element--small,
    .sqs-block-button-element--medium,
    .sqs-block-button-element--large {
      // font reset
      .font-sans-serif-bold;
      text-transform: uppercase;
    }
  }

  // Form button
  &.sqs-block-form {
    .form-wrapper input[type=submit] {
      // font reset
      .font-sans-serif-bold;
      text-transform: uppercase;
    }
  }

  // Block States
  .is-hoverable & {}
  .is-toucheable & {}
}

// homepage open block fields
#homepage-type-source {
  display: none;

  .squarespace-damask & {
    display: block;
    min-width: 50%;
  }
}