/******************************************************************************
 * SQS/Squarespace Block Spacing
*******************************************************************************/

// Block Resets
.sqs-layout>.sqs-row {
  margin: 0 !important;
}

/*
[class*=sqs-col] {
  display: inline-block;
  float: none !important;
}
*/


.sqs-block {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media @small {
    padding-left: @sqsPadding !important;
    padding-right: @sqsPadding !important;
  }
}

// Block layouts
.sqs-block {
  padding-left: @baseline;
  padding-right: @baseline;
  // Limit width of block elements and center them
  .contain-content;  
  margin: 0 auto;

  &:first-child {
    padding-top: @baseline !important;
  }
  &:last-child {
    padding-bottom: @baseline !important;
  }
  &+& {
    padding-top: @baseline !important;
  }
}

// Block typography
.sqs-block {
  // adds margin above elements that are adjacent to like elements
  .type-spacing;

  // Block specific
  // Quote Block
  &.sqs-block-quote {
    .sqs-block-content {
      padding: @baseline;
      .gradient(linear;
      ~"@{green}, @{blue}";
      45deg);
    }
    .source {
      margin: 0 @baseline 0 0;
      text-align: right;
    }
    figure {
      margin: @baseline;
    }
  }

  // Text Block
  &.sqs-block-html {
    .sqs-block-content {
      // Blockquotes
      blockquote {
        padding-left: @baseline;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 5px;
          .gradient(linear;
          ~"@{blue}, @{green}";
          0deg);
        }
      }
      // Ordered Lists
      ol {
        list-style-type: decimal;
        list-style-position: outside;
        padding-left: @baseline;
      }
      // Unordered Lists
      ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: @baseline;
      }
    }
  }

  // Image block
  &.sqs-block-image {
    .image-block-wrapper {
      background-color: @gray;  
    }
  }

  // Block States
  .is-hoverable & {}
  .is-toucheable & {}
}