/******************************************************************************
 * Squarespace Blocks Grid Breaker
*******************************************************************************/
@media screen and (max-width: 768px) {
  @import 'sqs-grid-breaker';
}

/******************************************************************************
 * Override social icons color in navigation
*******************************************************************************/
@tweak-navigation-social-icons-color: #000000;
.navigation--social {
  .mixin-template-social-icons-color(@tweak-navigation-social-icons-color);
  .SocialLinks-link {
    background-color: transparent !important;
  }
}

/******************************************************************************
 * Override social icons height in footer
*******************************************************************************/
@tweak-footer-social-icons-size: 30px;
.footer--social {
  .SocialLinks-link {
    height: @tweak-footer-social-icons-size;
    width: @tweak-footer-social-icons-size;
  }
}